<html>
    <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Note manager</title>
    </head>
    <body>
    <div class="container ">
        <h1>Note successfully added to database</h1>
                <a href=/ >
        <button type="submit" name="back" value="Get back" class="btn btn-dark">Get back</button>
                </a>
    </div>
    </body>
</html>