<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Notes manager</title>
</head>
<body>
<div class="container">

    <h1>Created note: </h1></br>
    <h2>Note title: </h2>
    <label> {{title}}</label></br>
    <h2>Note Content:</h2></br>
    <textarea rows="10" style="height:100%;" readonly> {{content}} </textarea></br>
<a href=/ >
        <button type="submit" name="back" value="Get back" class="btn btn-dark btn-lg float-right">Get back</button>
</a></div>
</body>
</html>